@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    fontFamily: "Victor Mono";
    src: url("../static/font/VictorMono-Regular.woff2") format('.woff2');
}

body {
    @apply font-Victor text-snowStorm2 dark:text-polarNight0;
}

.will-change-transform {
    will-change: transform;
}

.cursor::after {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: cursor 0.6s linear infinite alternate;
    will-change: opacity;
}

@keyframes cursor {
    0%,
    40% {
        opacity: 1;
    }

    60%,
    100% {
        opacity: 0;
    }
}

input, textarea {
@apply bg-snowStorm0 rounded p-1 focus:outline-none border-2 border-polarNight3 focus:border-2 focus:border-auroraGreen disabled:opacity-60 dark:bg-polarNight1
}

#button {
@apply rounded-full uppercase font-semibold border-2 border-polarNight3 dark:border-snowStorm2 disabled:opacity-60
}